---
import { APP_VERSION } from '@/constants'
import ThemeIcon from "@/components/ThemeIcon.astro"
import "@fontsource-variable/red-hat-display"

---
<footer class="container sticky top-[100vh]">
  <div class="flex flex-wrap items-center px-4 py-8 mx-auto justify-between text-sm border-t-[1px] border-solid align-middle">
    <div class="flex flex-wrap justify-center">
      <ul class="flex items-center space-x-4 text-xs">
        <li>Servicio Electoral</li>
        <li>|</li>
        <li>Divisón de TI.</li>
        <li>|</li>
        <li>{APP_VERSION}</li>
      </ul>
    </div>
    <div class="flex justify-center space-x-4 mt-4 lg:mt-0">
      <ThemeIcon />
    </div>
  </div>
</footer>

<style>
  .container {
    font-family: "Red Hat Display Variable", sans-serif
  }
</style>