---
import { Image } from "astro:assets";
import { Button } from "@/components/ui/button";
import { LockKeyhole } from "lucide-vue-next";

import Logo from "../../../public/images/logo_nav.png";

const Title = import.meta.env.PUBLIC_NOMBRE_SITIO + " - Servicio Electoral de Chile";
---

<nav class="pt-4 container">
  <div class="flex items-center justify-between py-4 mx-auto border-b-[1px]">
    <div class="flex items-center space-x-4">
      <a href="/">
        <Image src={Logo} width={35} height={51} loading="eager" alt="Servicio Electoral" class="block" />
      </a>
      <span class="text-xl font-bold">{Title}</span>
    </div>
    <div class="flex items-end">
      <Button variant="ghost">
        <LockKeyhole class="pr-2" />
        <p class="uppercase">acceso</p>
      </Button>
    </div>
  </div>
</nav>