---
import Layout from "@/layouts/Layouts.astro"
import Header from "@/components/layout/header/headir_sin_access.astro"
import Footer from "@/components/landing/Footer.astro"

import { Button } from "@/components/ui/button"
import { LogIn, Home } from "lucide-vue-next"

import "@fontsource-variable/red-hat-display"

const title = import.meta.env.PUBLIC_NOMBRE_SITIO + " - Servicio Electoral de Chile"
const description = import.meta.env.PUBLIC_DESCRIPCION_SITIO;

---
<Layout title= {title} description= {description}>
  <Header />

  <div class="mx-auto flex min-h-[80dvh] items-center justify-center py-24">
    <div class="mx-auto max-w-md space-y-6">
      <div class="space-y-2 text-center">
        <h1 class="text-3xl font-bold">Haz cerrado la sesión</h1>
        <p>Se ha cerrado la seción satisfactoriamente.</p>
      </div>
      <div class="space-y-4">
        <a href="/" class="text-sm">
          <Button variant="secondary" class="mt-4 w-full">
            <Home class="mr-2 h-5 w-5" />Ir al inicio
          </Button>
        </a>
      </div>
      <div class="relative">
        <div class="absolute inset-0 flex items-center">
          <span class="w-full border-t" />
        </div>
        <div class="relative flex justify-center text-xs uppercase">
          <span class="bg-background px-2 text-muted-foreground">
            O
          </span>
        </div>
      </div>
      <div class="space-y-4">
        <a href="/login" class="text-sm">
          <Button variant="secondary" class="mt-4 w-full">
            <LogIn class="mr-2 h-5 w-5" />Iniciar Sesión
          </Button>
        </a>
      </div>
    </div>
  </div>
  <Footer />
</Layout>