---
import Layout from "@/layouts/Layouts.astro"
import Header from "@/components/landing/Header.astro"
import Footer from "@/components/landing/Footer.astro"

const title = import.meta.env.PUBLIC_NOMBRE_SITIO + " - Servicio Electoral de Chile"
const description = import.meta.env.PUBLIC_DESCRIPCION_SITIO;
---

<Layout title= {title} description= {description}>
  <Header />
  <main class="p-10 container">
		<div>Pagina de inicio</div>
  </main>
  <Footer />
</Layout>
